	<script language="JavaScript">
	</script>
<form name="clockForm" id="tClkBtn">
		<input type="button" name="clockButton" class="btn-primary" id="clockbutton" value="HANG tight, grabbin' da time..."/>
</form>